<ul class="nav d-flex mb-2" *ngIf="showNavigation">
  <li class=" tab-brand disabled">
    <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/candidates', 'list']">
      <i class="fa fa-chevron-left pr-1"></i><span
        [translate]="'Settings.Lists.StudyProgramRegisterActions.Description'"></span></a>
  </li>
</ul>
<div class="col-12">
  <div class="row mb-2">
    <div class="col-auto">
      <h2 style="text-transform:uppercase;display:inline">{{model.givenName}}
        {{model.familyName}}</h2>&nbsp;&nbsp;<h5 style="display:inline">{{
        'Settings.Lists.StudyProgramRegisterActions.Title' | translate}}</h5>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-8">
    <div class="card">
      <div class="card-body">
        <advanced-form-edit #form formName="StudyProgramRegisterActions/preview" [(data)]="model">
        </advanced-form-edit>
        <!--start:review template-->
        <ng-template #reviewTemplate let-item="item">
          <div>
            <div class="text-secondary mt-1 mb-2">
              <span [translate]="'Register.UserEvaluationAdded'" [translateParams]="item.createdBy">
              </span>
              <button *ngIf="model.actionStatus === 'ActiveActionStatus' && item.createdBy.id===userId"
                (click)="editingReview = item.id" type="button" class="ml-2 btn btn-primary btn-sm">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div>
            <span [translate]="'Register.Grade'"></span>:
            <span class="rounded px-2 py-1" style="font-weight:500"
              *ngIf="item.reviewRating">{{item.reviewRating}}</span>
          </div>
          <div>
            <p class="p-3 mb-2 bg-gray-100" *ngIf="item.reviewBody" [innerHTML]="item.reviewBody"></p>
          </div>
        </ng-template>
        <!--start:review from candidateViewers template-->
        <ng-template #itemReviewEditTemplate let-item="item">
          <advanced-form-edit (customEvent)="onItemReviewEvent($event, item)"
            formName="StudyProgramRegisterActions/review" [data]="item"></advanced-form-edit>
        </ng-template>
        <!--end:review template-->
        <!--start:attachments-->
        <div class="mt-4">
          <div class="d-flex justify-content-between  align-items-center text-nowrap">
            <legend ref="header" [translate]="'Register.Attachments'"></legend>
            <button *ngIf="model && model.attachments && model.attachments.length > 1" (click)="downloadAction()" type="button" class="btn btn-theme mb-2" [translate]="'Register.DownloadAll'"></button>
          </div>
          <ul class="list-group" *ngIf="model && model.attachments && model.attachments.length > 1">
            <li class="list-group-item" *ngFor="let item of model.attachments">
              <div class="d-flex">
                <div class="justify-content-center mr-3">
                  <i class="far fa-file-alt fa-2x text-secondary"></i>
                </div>
                <div class="justify-content-start mr-auto">
                  {{item.attachmentType.name}}
                  <div class="text-secondary">
                    {{item.contentType}}
                  </div>
                  <div class="text-secondary">
                    <span [translate]="'Register.DateModified'"></span>
                    <span>&nbsp;</span>
                    <span>{{item.dateModified | date: 'short'}}</span>
                  </div>
                </div>
                <div class="justify-content-end ml-2">
                  <div class="btn-group">
                    <ng-container>
                      <button (click)="download(item)" type="button" class="btn btn-theme"
                        [translate]="'Register.Download'"></button>
                    </ng-container>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card" *ngIf="model && model.attachments && model.attachments.length === 0">
            <div class="card-body">
              <h4 [translate]="'Register.NoAttachments'" class="text-secondary font-weight-normal mb-0">
              </h4>
            </div>
          </div>
        </div>
        <!--end:attachments-->
        <!--start: messages-->
        <ng-container *ngIf="model">
          <div class="mt-4">
            <ng-container *ngIf="messages">
              <legend ref="header">
                <span [translate]="'Register.Messages'"></span>
                <ng-container *ngIf="messages.length">
                  <button *ngIf="!showNewMessage" type="button" (click)="showNewMessage = true"
                    class="ml-2 btn btn-sm btn-default text-indigo d-inline"
                    title="{{'Register.NewMessage' | translate}}">
                    <i class="fas fa-paper-plane"></i>
                    <span class="ml-2" [translate]="'Register.NewMessage'"></span>
                  </button>
                </ng-container>
              </legend>
              <ng-container *ngIf="showNewMessage">
                <app-register-compose-message (submit)="send(newMessage)" (cancel)="showNewMessage = false"
                  [(model)]="newMessage"></app-register-compose-message>
              </ng-container>
              <div class="card" *ngFor="let message of messages">
                <div class="card-body">
                  <div>
                    <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }} {{ 'Register.From' | translate }} {{message.sender?.alternateName}}</span>
                    <div class="card-title  font-lg font-weight-normal pb-1">
                      <span *ngIf="message.subject == null" [translate]="'Register.NoSubject'"></span>
                      <span *ngIf="message.subject != null">{{message.subject}}</span>
                    </div>
                  </div>
                  <div class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4"
                    [innerHTML]="message.body"></div>
                  <div *ngIf="message && message.attachments && message.attachments.length>0" class="mt-2">
                    <button type="button" class="btn btn-light" (click)="downloadFile(message?.attachments[0])">{{
                      'Requests.Edit.DownloadFile' | translate }}</button>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="messages && messages.length === 0">
                <div class="card-body">
                  <h4 class="text-secondary font-weight-normal mb-0">
                    <span [translate]="'Register.NoMessages'"></span>
                    <button *ngIf="!showNewMessage" type="button" (click)="showNewMessage = true"
                      class="float-right btn btn-default text-indigo"
                      title="{{'Register.NewMessage' | translate}}">
                      <i class="fas fa-paper-plane"></i>
                      <span class="ml-2" [translate]="'Register.NewMessage'"></span>
                    </button>
                  </h4>
                </div>
              </div>

            </ng-container>
          </div>
        </ng-container>
        <!--end:messages-->
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <app-register-side-preview [model]="model"></app-register-side-preview>
    <ng-container *ngIf="otherApplications && otherApplications.length">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" [translate]="'Register.OtherActiveApplications'"></h5>
          <ng-container *ngFor="let otherApplication of otherApplications">
            <div class="mb-2">
              <a class="btn btn-gray-100"
                [routerLink]="[ '/candidates', 'list' , { outlets: { modal: ['item', otherApplication.id, 'edit'] } }]">
                <span>{{ otherApplication.studyProgram.name }}</span>
                <span *ngIf="otherApplication.specialization && otherApplication.specialization.specialty > -1">
                  ({{ otherApplication.specialization.name }})
                </span>
                <span>&nbsp;</span>
                <span [translate]="'Register.DateModified'"></span>
                <span>&nbsp;</span>
                <span>{{ otherApplication.dateModified | date: 'short' }}</span>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="card">
        <div class="card-body" *ngIf="model && model.reviews">
          <div style="display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center;">
            <h3 style="display:inline" ref="header"
              [translate]="model.reviews.length<=1 ? 'Register.Evaluation' : 'Register.Evaluations'"></h3>

            <a *ngIf="!myReview()" href="javascript:void(0)" class="text-indigo text-decoration-none"
              (click)="editingReview = model.id">
              <span>+</span><span>&nbsp;</span><span [translate]="'Register.Add'"></span>
            </a>
          </div>
          <div class="card-body pb-2 pt-0 pr-0 pl-0"><i><span [translate]="'Register.NoEvaluationByYou'"></span></i>
          </div>
          <!--start review item-->
          <div *ngIf="model" class="mb-2">
            <div class="card" *ngFor="let review of model.reviews">
              <div class="card-body pb-2 pt-2 pr-3 pl-3">
                <ng-container *ngIf="review">
                  <ng-container [ngSwitch]="editingReview">
                    <div *ngSwitchCase="review.id">
                      <ng-container [ngTemplateOutlet]="itemReviewEditTemplate"
                        [ngTemplateOutletContext]="{ item: review }">
                      </ng-container>
                    </div>
                    <div *ngSwitchDefault>
                      <ng-container [ngTemplateOutlet]="reviewTemplate" [ngTemplateOutletContext]="{ item: review }">
                      </ng-container>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="!myReview()">
              <ng-container [ngSwitch]="editingReview">
                <div *ngSwitchCase="model.id">
                  <ng-container [ngTemplateOutlet]="itemReviewEditTemplate"
                    [ngTemplateOutletContext]="{ item: { itemReviewed: model.id } }">
                  </ng-container>
                </div>
                <div *ngSwitchDefault></div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <!--end review item-->
  </div>
</div>
<app-register-attachment-download></app-register-attachment-download>
