.form-check.checkbox {
  position: relative;
}
table.datagrid-table {
  thead {
    display: 'none';
  }
}
.formio-component-file {
  .list-group.list-group-striped {
    display: none;
  }
}
.z-index-0 {
  z-index: 0 !important;
}
.opacity-low {
  opacity: 0.5;
}
.verybigmodal {
  display: block;
  min-width:1100px !important;
}
// .formio-component-attachments {
//   ngx-dropzone {
//     height: 96px;
//   }
// }
