<div>
  <div class="modal-header" style="display: contents">
    <button (click)="cancel()" type="button" class="close" data-dismiss="modal"
      aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body px-0 py-0">
    <app-register-edit [showNavigation]="false" [showActions]="showActions"></app-register-edit>
  </div>
</div>
