<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/home/enrollment-events/']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Register.StudyPrograms'"></span></a>
    </li>
  </ul>

  <div class="card">
    <div class="card-body pb-1 pt-4 text-secondary" style="display: flex;flex-direction: row;">
      <div class="col-6">
        <div class="mt-2 mb-2">
          <span [translate]="'Register.AcademicPeriod'" class="font-weight-bold"></span>
          <span class="font-weight-bold">:</span>&nbsp;
          <span>
            {{ enrollmentEvent.inscriptionPeriod?.locale?.name || enrollmentEvent.inscriptionPeriod?.name }} {{
            'Register.Semester' | translate }},
            {{ enrollmentEvent.inscriptionYear?.locale?.name || enrollmentEvent.inscriptionYear?.name }}
          </span>
        </div>
        <div class="mt-2 mb-2">
          <span [translate]="'Register.ApplicationPeriod'" class="font-weight-bold"></span>
          <span class="font-weight-bold">:</span>&nbsp;
          <span> {{enrollmentEvent.validFrom | date: 'short'}} </span>
          <span [translate]="'Register.To'"></span>&nbsp;
          <span>{{enrollmentEvent.validThrough | date: 'short'}}</span>
        </div>
        <div class="mt-2 mb-2">
          <span [translate]="'Register.StudyLevel'" class="font-weight-bold"></span>
          <span class="font-weight-bold">:</span>&nbsp;
          <span>{{enrollmentEvent.studyProgram?.studyLevel?.locale?.name ||
            enrollmentEvent.studyProgram?.studyLevel?.name}}</span>
        </div>
      </div>
      <div *ngIf="enrollmentEvent.registerAction" class="col-6">
        <div class="mt-2 mb-2">
          <span [translate]="'Register.ApplicationsTotal'" class="font-weight-bold"></span>
          <span class="font-weight-bold">:</span>&nbsp;
          <span class="text-indigo font-weight-bold">{{enrollmentEvent.registerAction.actions}}</span>
        </div>
        <div class="mt-2 mb-2">
          <span [translate]="'Register.ApplicationsActionStatuses.Active'" class="font-weight-bold"></span>
          <span class="font-weight-bold">:</span>&nbsp;
          <span class="text-primary font-weight-bold">{{enrollmentEvent.registerAction.ActiveActionStatus ||
            '-'}}</span>
        </div>
        <div class="mt-2 mb-2">
          <span [translate]="'Register.ApplicationsActionStatuses.Completed'" class="font-weight-bold"></span>
          <span class="font-weight-bold">:</span>&nbsp;
          <span class="text-success font-weight-bold">{{enrollmentEvent.registerAction.CompletedActionStatus ||
            '-'}}</span>
        </div>
        <div class="mt-2 mb-2">
          <span [translate]="'Register.ApplicationsActionStatuses.Cancelled'" class="font-weight-bold"></span>
          <span class="font-weight-bold">:</span>&nbsp;
          <span class="text-danger font-weight-bold">{{enrollmentEvent.registerAction.CancelledActionStatus ||
            '-'}}</span>
        </div>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
  <router-outlet></router-outlet>
</div>
