<!--  List -->
<div id="list1" *ngIf="model && model.actionStatus" class="card">
  <div class="card-body">
    <div class="text-center mb-5 mt-2">
      <ng-container [ngSwitch]="model.actionStatus">
          <i *ngSwitchCase="'CancelledActionStatus'"style="font-size: 8rem" class="fas fa-user-times text-gray-200"></i>
          <i *ngSwitchDefault style="font-size: 8rem" class="fas fa-user-tag text-indigo"></i>
      </ng-container>
    </div>
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Register.Details'">
    </h5>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary text-nowrap" [lang]="currentLang"
          [translate]="'Register.DateCreated'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.dateCreated | localizedDate: 'short' }}</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Register.Status'"></span>
      </div>
      <div class="col-7">
        <span [ngClass]="{'text-primary': model?.actionStatus ==='PotentialActionStatus',
                                  'text-danger': (model?.actionStatus ==='FailedActionStatus') || model?.actionStatus ==='CancelledActionStatus',
                                  'text-success': model?.actionStatus ==='CompletedActionStatus',
                                  'text-purple': model?.actionStatus ==='ActiveActionStatus'}">
          {{ 'Register.ActionStatusTypes.' + model?.actionStatus | translate}}
        </span>
      </div>
    </div>
  </div>
</div>
