<div class="col-12">
  <div class="d-flex mb-3">
    <div class="w-100 align-self-center">
      <h2 [translate]="'Register.StudyPrograms'" class="mb-0"></h2>
      <p [translate]="'Register.StudyPrograms.LongDescription'"></p>
    </div>
  </div>
</div>
<div class="col-12 tab-navbar tab-container">

  <ng-template #emptyTemplate>
    <div class="text-center">
      <div class="mt-5">
        <div class="icon-circle bg-gray-300 border-gray-100"></div>
      </div>
      <h4 [translate]="'Register.EmptyStudyProgramTitle'" class="font-3xl text-dark"></h4>
    </div>
  </ng-template>

  <ng-container *ngFor="let item of items">
    <a [queryParams]="{code: item.code}" [routerLink]="['/home/enrollment-events/'+item.id]"
      class="text-decoration-none" title="{{'OpenApplicationForm' | translate}}">
      <div class="card">
        <div class="card-header bg-gray-100">
          <h4>{{item.studyProgram?.locale?.name || item.studyProgram?.name}}
            <h5 class="text-secondary">{{item.organizer?.locale?.name || item.organizer?.name}}</h5>
          </h4>
        </div>
        <div class="card-body pb-1 pt-4 text-secondary" style="display: flex;flex-direction: row;">
          <div class="col-6">
            <div class="mt-2 mb-2">
              <span [translate]="'Register.AcademicPeriod'" class="font-weight-bold"></span>
              <span class="font-weight-bold">:</span>&nbsp;
              <span>
                {{ item.inscriptionPeriod?.locale?.name || item.inscriptionPeriod?.name }} {{ 'Register.Semester' | translate }},
                {{ item.inscriptionYear?.locale?.name || item.inscriptionYear?.name }}
              </span>
            </div>
            <div class="mt-2 mb-2">
              <span [translate]="'Register.ApplicationPeriod'" class="font-weight-bold"></span>
              <span class="font-weight-bold">:</span>&nbsp;
              <span> {{item.validFrom | date: 'short'}} </span>
              <span [translate]="'Register.To'"></span>&nbsp;
              <span>{{item.validThrough | date: 'short'}}</span>
            </div>
            <div class="mt-2 mb-2">
              <span [translate]="'Register.StudyLevel'" class="font-weight-bold"></span>
              <span class="font-weight-bold">:</span>&nbsp;
              <span>{{item.studyProgram?.studyLevel?.locale?.name || item.studyProgram?.studyLevel?.name}}</span>
            </div>
          </div>
          <div *ngIf="item.registerAction" class="col-6">
            <div class="mt-2 mb-2">
              <span [translate]="'Register.ApplicationsTotal'" class="font-weight-bold"></span>
              <span class="font-weight-bold">:</span>&nbsp;
              <span class="text-indigo font-weight-bold">{{item.registerAction.actions}}</span>
            </div>
            <div class="mt-2 mb-2">
              <span [translate]="'Register.ApplicationsActionStatuses.Active'" class="font-weight-bold"></span>
              <span class="font-weight-bold">:</span>&nbsp;
              <span class="text-primary font-weight-bold">{{item.registerAction.ActiveActionStatus || '-'}}</span>
            </div>
            <div class="mt-2 mb-2">
              <span [translate]="'Register.ApplicationsActionStatuses.Completed'" class="font-weight-bold"></span>
              <span class="font-weight-bold">:</span>&nbsp;
              <span class="text-success font-weight-bold">{{item.registerAction.CompletedActionStatus || '-'}}</span>
            </div>
            <div class="mt-2 mb-2">
              <span [translate]="'Register.ApplicationsActionStatuses.Cancelled'" class="font-weight-bold"></span>
              <span class="font-weight-bold">:</span>&nbsp;
              <span class="text-danger font-weight-bold">{{item.registerAction.CancelledActionStatus || '-'}}</span>
            </div>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </a>
  </ng-container>

  <ng-container *ngIf="loading === false && items.length === 0">
    <ng-container [ngTemplateOutlet]="emptyTemplate"></ng-container>
  </ng-container>
</div>
