.formio-component-select-wrap {
    .form-control {
      height: auto;
    }
    .choices__list.choices__list--single {
      .choices__item:first-child.choices__item--selectable {
        overflow: unset;
        text-overflow:unset;
        white-space:unset;
      }
    }
}
